header.stl_header
  .stl_inner
    .stl_header__content
      a(href='/').stl_header__logo
        img(src='image/logo-new.png', title='Нержавеющий металлопрокат - нержавеющая сталь AISI. Продажа нержавеющей стали aisi - Компания НеоСтил.', alt='Нержавеющий металлопрокат - нержавеющая сталь AISI. Продажа нержавеющей стали aisi - Компания НеоСтил.').stl_responsive-img
      .stl_header__info
        .stl_header__phones
          .stl_header__phones-line
            .stl_header__phones-state Москва
            a(href='tel:+74951500552', rel='nofollow').stl_header__phones-number +7 (495) 150-05-52
          .stl_header__phones-line
            .stl_header__phones-state Санкт-Петербург
            a(href='tel:+78124073831', rel='nofollow').stl_header__phones-number +7 (812) 407-38-31
          .stl_header__phones-line
            .stl_header__phones-state Уфа
            a(href='tel:+73472008925', rel='nofollow').stl_header__phones-number +7 (347) 200-89-25
          .stl_header__phones-line
            .stl_header__phones-state Казань
            a(href='tel:+78432968680', rel='nofollow').stl_header__phones-number +7 (843) 296-86-80
        .stl_header__controls
          a(href='#').stl_header__controls-trash Корзина (0)
          a(href='#').stl_header__controls-callme Заказать звонок