-
  var advantages = [
    {
      id: 'advantages_01',
      title: 'Отгрузка на складе осуществляется в течение 30 мин'
    },
    {
      id: 'advantages_02',
      title: 'Быстрый документооборот'
    },
    {
      id: 'advantages_03',
      title: 'Персональный менеджер, который всегда на связи'
    },
    {
      id: 'advantages_04',
      title: 'Доставка любой транспортной компанией по желанию Заказчика по всей территории России'
    },
    {
      id: 'advantages_05',
      title: 'Гибкая система скидок'
    },
    {
      id: 'advantages_06',
      title: 'Информация о ценах и сроках поставки в течение 5 минут'
    },
    {
      id: 'advantages_07',
      title: 'Индивидуальный подход к каждому клиенту'
    },
    {
      id: 'advantages_08',
      title: 'Комплектация заказов любой сложности'
    },
    {
      id: 'advantages_09',
      title: 'Складской ассортимент более 5 000 наименований'
    }
  ]
.stl_advantages
  ul.stl_advantages__list
    each item in advantages
      li.stl_advantages__element=item.title