@import '../../node_modules/normalize-scss/sass/normalize'
@import components/variable
@import components/mixins

+normalize()

*
  box-sizing: border-box
  &:before
    box-sizing: border-box
  &:after
    box-sizing: border-box

html, body
  margin: 0
  padding: 0
  height: 100%
  font-weight: 400
  font-size: 87.5%

//devices style
@import components/devices
